<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Kartify</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/top_bar.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/display.css') }}">
		<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	</head>
	<body>
		<div class="topnav">
			<a href="{{ url_for('home')}}">Home</a>
			<a href="{{ url_for('laptop')}}">Laptops</a>
			<a href="{{ url_for('desktop')}}">Desktops</a>
			<a href="{{ url_for('all_items')}}">All</a>
			<div class="search-container">
			<form  method="post" action="/search" method="POST">
				<input type="search" name="searchName" id="searchInput" placeholder="Search here" aria-label="seachInput">
			</form>
			</div>
		</div>
		    {% block content %} 
		    {% endblock %}
		<footer id='footer'>footer</footer>
	</body>
</html>
