.flex-container {
	  display: flex;
	  overflow: hidden;
	  flex-flow: row wrap;
	  justify-content: space-between;
    }

.flex-item {
  background-color: light blue;
  width: 200px;
  margin: 10px;
  text-align: left;
  line-height: 15px;
  font-size: 13px;
}

.flex-container-compare {
	        display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		}

.flex-compare {
	width: 275px;
	text-align: left;
	font-size: 16px;
	border: 3px solid #73AD21;
	border-radius:20px;
	padding: 20px;

}
#vs {
	 font-size: 16px;
	 background: black;
	 border-radius: 50%;
	 width: 150px;
	 height: 150px;
	 color: white;
	 font-size: 22px;
	 text-align: center;
	 
	 display: flex;
	 align-items: center;
	 justify-content: center;
}

#seller {
	text-align: Center;
	background-color: black;
	color: white;
}
