{% extends "base.html" %}
{% block content %}
<h1> Comparing Results </h1>
	
	<div class="flex-container-compare">
	{%  for item in item_dict.values() %}
		<div class='flex-compare'>
		<a href = '{{ item['link'] }}', target = _blank>
		<img src = '{{ item["img_link"] }}' alt = '{{ item["name"] }}' style="height: 243.635px; width: 243.635px;">
		</a>
		<span> {{ item['name'] }} </span>
		<p>KSH {{ item['price'] }} </p>
		</div>
		{% if loop.index == 1 %}
		<span id='vs'> VS </span>
		{% endif %}
{% endfor %}
</div>
<br>
<hr>
<p> AI GENERATED COMPARISON FOR <i><b>{{ item1 }}</b></i> VS <i><b>{{ item2 }}}</b></i></p>

{% endblock %}
